%h1
  %strong My Profile:
%p
  %strong My email:
  = current_user.email

%p
  %strong Created at:
  = current_user.created_at

%hr/
%h2 Options:
.div
  = link_to "Edit", edit_user_registration_path, class: "btn btn-primary"
  = link_to "Sign Out", destroy_user_session_path, class: "btn btn-danger", method: :delete


