%h1 Users

%ul
  - @users.each do |user|
    %li
      = user.email
      = user.roles.distinct.pluck(:name)
      = user.events.pluck(:title)
      = link_to 'Edit roles', edit_user_path(user) if policy(User).edit?

=paginate  @users
