/ -------------------------------- DRAWER: SEARCH --------------------------------
.site-drawer.site-drawer--y{"data-overlay" => "true", "data-source" => "searchDrawer"}
  .site-search
    %form#event_search.d-flex{"accept-charset" => "UTF-8", :action => "/search", :method => "get"}
      %input#q_title_or_description_cont.form-control.me-2{:name => "q[title_or_description_cont]", :placeholder => "Search...", :type => "search", :value => "12"}/
      .site-search__btn
        %span.flex.items-center.h-100


/ -------------------------------- END OF DRAWER: SEARCH --------------------------------
/ -------------------------------- DRAWER: MOBILE MENU --------------------------------
.site-drawer.site-drawer--x.site-drawer--xleft.bg-primary-2{"data-overlay" => "true", "data-source" => "mobileDrawer"}
  .flex.w-100.justify-between.items-center.py-150.border-b.pw-x
    %ul.flex.custom-list.custom-list--full.gap-100
      %li
        %button.custom-btn.nav-icon.js-toggle-drawer{"data-target" => "searchDrawer"}
          %svg{:fill => "none", :height => "22", :viewbox => "0 0 22 22", :width => "22", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M19.25 19.25L15.1379 15.1305M17.4167 9.62498C17.4167 11.6915 16.5958 13.6733 15.1346 15.1345C13.6734 16.5957 11.6915 17.4166 9.62504 17.4166C7.55856 17.4166 5.57672 16.5957 4.1155 15.1345C2.65428 13.6733 1.83337 11.6915 1.83337 9.62498C1.83337 7.5585 2.65428 5.57666 4.1155 4.11544C5.57672 2.65422 7.55856 1.83331 9.62504 1.83331C11.6915 1.83331 13.6734 2.65422 15.1346 4.11544C16.5958 5.57666 17.4167 7.5585 17.4167 9.62498V9.62498Z", :stroke => "black", "stroke-linecap" => "round", "stroke-width" => "2"}
      %li
        %a.custom-btn.nav-icon{:href => "/tickets"}
          %svg{:fill => "none", :height => "22", :viewbox => "0 0 22 22", :width => "22", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M6.8 6.71423V3.85708C6.80001 3.35555 6.9294 2.86286 7.17516 2.42853C7.42091 1.9942 7.77438 1.63353 8.20003 1.38277C8.62568 1.13201 9.10852 0.999997 9.60002 1C10.0915 1 10.5744 1.13202 11 1.38279C11.4256 1.13202 11.9085 1 12.4 1C12.8915 0.999997 13.3743 1.13201 13.8 1.38277C14.2256 1.63353 14.5791 1.9942 14.8248 2.42853C15.0706 2.86286 15.2 3.35555 15.2 3.85708V6.71423H15.9C16.457 6.71423 16.9911 6.94 17.3849 7.34186C17.7788 7.74373 18 8.28878 18 8.8571V18.1428C18 18.9006 17.705 19.6273 17.1799 20.1632C16.6548 20.699 15.9426 21 15.2 21H6.8C6.05739 21 5.3452 20.699 4.8201 20.1632C4.295 19.6273 4 18.9006 4 18.1428V8.8571C4 8.28878 4.22125 7.74373 4.61508 7.34186C5.0089 6.94 5.54305 6.71423 6.1 6.71423H6.8ZM8.2 3.85708V6.71423H11V3.85708C11 3.4782 10.8525 3.11483 10.5899 2.84692C10.3274 2.57901 9.9713 2.4285 9.6 2.4285C9.2287 2.4285 8.8726 2.57901 8.61005 2.84692C8.3475 3.11483 8.2 3.4782 8.2 3.85708V3.85708ZM15.2 19.5714C15.5713 19.5714 15.9274 19.4209 16.1899 19.153C16.4525 18.8851 16.6 18.5217 16.6 18.1428V8.8571C16.6 8.66766 16.5263 8.48598 16.395 8.35202C16.2637 8.21807 16.0857 8.14281 15.9 8.14281H13.8V18.1428C13.8 18.5217 13.9475 18.8851 14.2101 19.153C14.4726 19.4209 14.8287 19.5714 15.2 19.5714ZM12.4 8.14281H6.1C5.91435 8.14281 5.7363 8.21807 5.60503 8.35202C5.47375 8.48598 5.4 8.66766 5.4 8.8571V18.1428C5.4 18.5217 5.5475 18.8851 5.81005 19.153C6.0726 19.4209 6.4287 19.5714 6.8 19.5714H12.7752C12.5288 19.1373 12.3994 18.6445 12.4 18.1428V8.14281ZM12.4 3.85708V6.71423H13.8V3.85708C13.8002 3.63896 13.7514 3.4237 13.6574 3.22781C13.5634 3.03191 13.4267 2.86058 13.2577 2.72694C13.0888 2.59331 12.8921 2.50092 12.6828 2.45687C12.4734 2.41281 12.257 2.41826 12.05 2.47279C12.274 2.88279 12.4 3.35565 12.4 3.85708Z", :fill => "black"}
      %li.hover--popUp
        %a.custom-btn.nav-icon{:href => "/profiles"}
          %svg{:fill => "none", :height => "22", :viewbox => "0 0 22 22", :width => "22", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M3.73883 17.1264C5.95383 15.8745 8.45567 14.6316 11 14.6355C13.6389 14.6355 16.1163 15.9136 18.2612 17.1264M14.1667 8.88889C14.1667 9.72874 13.833 10.5342 13.2392 11.1281C12.6453 11.7219 11.8399 12.0556 11 12.0556C10.1601 12.0556 9.35469 11.7219 8.76083 11.1281C8.16696 10.5342 7.83333 9.72874 7.83333 8.88889C7.83333 8.04904 8.16696 7.24358 8.76083 6.64972C9.35469 6.05585 10.1601 5.72222 11 5.72222C11.8399 5.72222 12.6453 6.05585 13.2392 6.64972C13.833 7.24358 14.1667 8.04904 14.1667 8.88889ZM20.5 11C20.5 12.2476 20.2543 13.4829 19.7769 14.6355C19.2994 15.7881 18.5997 16.8354 17.7175 17.7175C16.8354 18.5997 15.7881 19.2994 14.6355 19.7769C13.4829 20.2543 12.2476 20.5 11 20.5C9.75244 20.5 8.5171 20.2543 7.36451 19.7769C6.21191 19.2994 5.16464 18.5997 4.28249 17.7175C3.40033 16.8354 2.70056 15.7881 2.22314 14.6355C1.74572 13.4829 1.5 12.2476 1.5 11C1.5 8.48044 2.50089 6.06408 4.28249 4.28249C6.06408 2.50089 8.48044 1.5 11 1.5C13.5196 1.5 15.9359 2.50089 17.7175 4.28249C19.4991 6.06408 20.5 8.48044 20.5 11Z", :stroke => "#2A2227", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.6"}
    %button.custom-btn.js-toggle-drawer{"data-target" => "mobileDrawer"}
      %svg{:fill => "none", :height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M18.3 5.71001C18.2075 5.61731 18.0976 5.54376 17.9766 5.49358C17.8556 5.4434 17.726 5.41757 17.595 5.41757C17.464 5.41757 17.3343 5.4434 17.2134 5.49358C17.0924 5.54376 16.9825 5.61731 16.89 5.71001L12 10.59L7.10999 5.70001C7.01741 5.60743 6.9075 5.53399 6.78654 5.48388C6.66557 5.43378 6.53593 5.40799 6.40499 5.40799C6.27406 5.40799 6.14442 5.43378 6.02345 5.48388C5.90249 5.53399 5.79258 5.60743 5.69999 5.70001C5.60741 5.79259 5.53397 5.9025 5.48387 6.02347C5.43376 6.14443 5.40797 6.27408 5.40797 6.40501C5.40797 6.53594 5.43376 6.66559 5.48387 6.78655C5.53397 6.90752 5.60741 7.01743 5.69999 7.11001L10.59 12L5.69999 16.89C5.60741 16.9826 5.53397 17.0925 5.48387 17.2135C5.43376 17.3344 5.40797 17.4641 5.40797 17.595C5.40797 17.7259 5.43376 17.8556 5.48387 17.9766C5.53397 18.0975 5.60741 18.2074 5.69999 18.3C5.79258 18.3926 5.90249 18.466 6.02345 18.5161C6.14442 18.5662 6.27406 18.592 6.40499 18.592C6.53593 18.592 6.66557 18.5662 6.78654 18.5161C6.9075 18.466 7.01741 18.3926 7.10999 18.3L12 13.41L16.89 18.3C16.9826 18.3926 17.0925 18.466 17.2135 18.5161C17.3344 18.5662 17.4641 18.592 17.595 18.592C17.7259 18.592 17.8556 18.5662 17.9765 18.5161C18.0975 18.466 18.2074 18.3926 18.3 18.3C18.3926 18.2074 18.466 18.0975 18.5161 17.9766C18.5662 17.8556 18.592 17.7259 18.592 17.595C18.592 17.4641 18.5662 17.3344 18.5161 17.2135C18.466 17.0925 18.3926 16.9826 18.3 16.89L13.41 12L18.3 7.11001C18.68 6.73001 18.68 6.09001 18.3 5.71001V5.71001Z", :fill => "black"}
  %nav.mobileNav.py-200.pw-x
    %ul.custom-list.custom-list--full
      %li.mb-100
        %a.hover--popUp.fs-700.fw-bold{:href => "/events"} Events
      %li.mb-100
        %a.hover--popUp.fs-700.fw-bold.mb-50{:href => "/about"} About
    %div
      .decor-banner.mb-400.p-150.bg-accent-1.br-100
        %strong.fs-600.block.w-100.text-center.text-primary-2.fw-semibold.mb-200 Hey, this is yours first-purchase coupon.
        %span.fs-700.block.w-100.text-center.text-accent-2.fw-semibold H2GB4C
      %small.block.text-center.w-100.fs-200.fw-regular All Rights Reserved(C) 2022
/ -------------------------------- END OF DRAWER: MOBILE MENU --------------------------------
%header.site-header
  .tablet-hidden
    %nav.header-wrapper.flex.items-center.justify-between.w-100
      %a.header-wrapper__left{:href => "/"}
        = image_tag 'logo.svg'
      %ul.custom-list.custom-list.flex.items-center.menu.custom-list--full
        %li
          %a.hover--popUp{:href => "/events"} Events
        %li
          %a.hover--popUp{:href => "/about"} About
      %ul.custom-list.header-wrapper__right.custom-list.custom-list--full.flex.items-center
        %li.hover--popUp
          -# = render 'search/form'
        %li.hover--popUp
          %a.custom-btn.nav-icon{:href => "/profiles"}
            %svg{:fill => "none", :height => "22", :viewbox => "0 0 22 22", :width => "22", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M3.73883 17.1264C5.95383 15.8745 8.45567 14.6316 11 14.6355C13.6389 14.6355 16.1163 15.9136 18.2612 17.1264M14.1667 8.88889C14.1667 9.72874 13.833 10.5342 13.2392 11.1281C12.6453 11.7219 11.8399 12.0556 11 12.0556C10.1601 12.0556 9.35469 11.7219 8.76083 11.1281C8.16696 10.5342 7.83333 9.72874 7.83333 8.88889C7.83333 8.04904 8.16696 7.24358 8.76083 6.64972C9.35469 6.05585 10.1601 5.72222 11 5.72222C11.8399 5.72222 12.6453 6.05585 13.2392 6.64972C13.833 7.24358 14.1667 8.04904 14.1667 8.88889ZM20.5 11C20.5 12.2476 20.2543 13.4829 19.7769 14.6355C19.2994 15.7881 18.5997 16.8354 17.7175 17.7175C16.8354 18.5997 15.7881 19.2994 14.6355 19.7769C13.4829 20.2543 12.2476 20.5 11 20.5C9.75244 20.5 8.5171 20.2543 7.36451 19.7769C6.21191 19.2994 5.16464 18.5997 4.28249 17.7175C3.40033 16.8354 2.70056 15.7881 2.22314 14.6355C1.74572 13.4829 1.5 12.2476 1.5 11C1.5 8.48044 2.50089 6.06408 4.28249 4.28249C6.06408 2.50089 8.48044 1.5 11 1.5C13.5196 1.5 15.9359 2.50089 17.7175 4.28249C19.4991 6.06408 20.5 8.48044 20.5 11Z", :stroke => "#2A2227", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.6"}
        %li.hover--popUp
          %a.custom-btn.nav-icon{:href => "/tickets"}
            %svg{:fill => "none", :height => "22", :viewbox => "0 0 22 22", :width => "22", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M6.8 6.71423V3.85708C6.80001 3.35555 6.9294 2.86286 7.17516 2.42853C7.42091 1.9942 7.77438 1.63353 8.20003 1.38277C8.62568 1.13201 9.10852 0.999997 9.60002 1C10.0915 1 10.5744 1.13202 11 1.38279C11.4256 1.13202 11.9085 1 12.4 1C12.8915 0.999997 13.3743 1.13201 13.8 1.38277C14.2256 1.63353 14.5791 1.9942 14.8248 2.42853C15.0706 2.86286 15.2 3.35555 15.2 3.85708V6.71423H15.9C16.457 6.71423 16.9911 6.94 17.3849 7.34186C17.7788 7.74373 18 8.28878 18 8.8571V18.1428C18 18.9006 17.705 19.6273 17.1799 20.1632C16.6548 20.699 15.9426 21 15.2 21H6.8C6.05739 21 5.3452 20.699 4.8201 20.1632C4.295 19.6273 4 18.9006 4 18.1428V8.8571C4 8.28878 4.22125 7.74373 4.61508 7.34186C5.0089 6.94 5.54305 6.71423 6.1 6.71423H6.8ZM8.2 3.85708V6.71423H11V3.85708C11 3.4782 10.8525 3.11483 10.5899 2.84692C10.3274 2.57901 9.9713 2.4285 9.6 2.4285C9.2287 2.4285 8.8726 2.57901 8.61005 2.84692C8.3475 3.11483 8.2 3.4782 8.2 3.85708V3.85708ZM15.2 19.5714C15.5713 19.5714 15.9274 19.4209 16.1899 19.153C16.4525 18.8851 16.6 18.5217 16.6 18.1428V8.8571C16.6 8.66766 16.5263 8.48598 16.395 8.35202C16.2637 8.21807 16.0857 8.14281 15.9 8.14281H13.8V18.1428C13.8 18.5217 13.9475 18.8851 14.2101 19.153C14.4726 19.4209 14.8287 19.5714 15.2 19.5714ZM12.4 8.14281H6.1C5.91435 8.14281 5.7363 8.21807 5.60503 8.35202C5.47375 8.48598 5.4 8.66766 5.4 8.8571V18.1428C5.4 18.5217 5.5475 18.8851 5.81005 19.153C6.0726 19.4209 6.4287 19.5714 6.8 19.5714H12.7752C12.5288 19.1373 12.3994 18.6445 12.4 18.1428V8.14281ZM12.4 3.85708V6.71423H13.8V3.85708C13.8002 3.63896 13.7514 3.4237 13.6574 3.22781C13.5634 3.03191 13.4267 2.86058 13.2577 2.72694C13.0888 2.59331 12.8921 2.50092 12.6828 2.45687C12.4734 2.41281 12.257 2.41826 12.05 2.47279C12.274 2.88279 12.4 3.35565 12.4 3.85708Z", :fill => "black"}
  .desktop-hidden
    %nav.desktop-hidden.header-wrapper.flex.items-center.justify-between
      %div
        %button.custom-btn.nav-icon.js-toggle-drawer{"data-target" => "mobileDrawer"}
          %svg{:fill => "none", :height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M4 6H20M4 12H20M4 18H11", :stroke => "#252525", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
      %a{:href => "/"}
        %img{:src => "./assets/logo.svg"}/
      %div
        %a.nav-icon{:href => "/"}
          %svg{:fill => "none", :height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M7.28569 7.28566V4.14279C7.2857 3.59111 7.43094 3.04915 7.70679 2.57138C7.98264 2.09362 8.37939 1.69688 8.85716 1.42104C9.33493 1.14521 9.8769 0.999996 10.4286 1C10.9803 1 11.5222 1.14522 12 1.42106C12.4778 1.14522 13.0197 1 13.5714 1C14.1231 0.999996 14.6651 1.14521 15.1428 1.42104C15.6206 1.69688 16.0174 2.09362 16.2932 2.57138C16.5691 3.04915 16.7143 3.59111 16.7143 4.14279V7.28566H17.5C18.1252 7.28566 18.7247 7.534 19.1668 7.97605C19.6088 8.4181 19.8572 9.01765 19.8572 9.64281V19.8571C19.8572 20.6907 19.526 21.4901 18.9366 22.0795C18.3472 22.6689 17.5478 23 16.7143 23H7.28569C6.45215 23 5.65275 22.6689 5.06335 22.0795C4.47394 21.4901 4.14282 20.6907 4.14282 19.8571V9.64281C4.14282 9.01765 4.39116 8.4181 4.83322 7.97605C5.27527 7.534 5.87482 7.28566 6.49997 7.28566H7.28569ZM8.85713 4.14279V7.28566H12V4.14279C12 3.72602 11.8344 3.32632 11.5397 3.03162C11.245 2.73692 10.8453 2.57135 10.4286 2.57135C10.0118 2.57135 9.61209 2.73692 9.31739 3.03162C9.02269 3.32632 8.85713 3.72602 8.85713 4.14279ZM16.7143 21.4286C17.1311 21.4286 17.5308 21.263 17.8255 20.9683C18.1202 20.6736 18.2857 20.2739 18.2857 19.8571V9.64281C18.2857 9.43442 18.203 9.23457 18.0556 9.08722C17.9082 8.93987 17.7084 8.85709 17.5 8.85709H15.1429V19.8571C15.1429 20.2739 15.3084 20.6736 15.6031 20.9683C15.8978 21.263 16.2975 21.4286 16.7143 21.4286ZM13.5714 8.85709H6.49997C6.29159 8.85709 6.09174 8.93987 5.94439 9.08722C5.79704 9.23457 5.71426 9.43442 5.71426 9.64281V19.8571C5.71426 20.2739 5.87982 20.6736 6.17452 20.9683C6.46922 21.263 6.86892 21.4286 7.28569 21.4286H13.9926C13.716 20.9511 13.5707 20.4089 13.5714 19.8571V8.85709ZM13.5714 4.14279V7.28566H15.1429V4.14279C15.143 3.90286 15.0883 3.66608 14.9828 3.45059C14.8773 3.2351 14.7238 3.04664 14.5342 2.89964C14.3446 2.75264 14.1238 2.65102 13.8888 2.60256C13.6538 2.5541 13.4109 2.56009 13.1786 2.62007C13.43 3.07107 13.5714 3.59122 13.5714 4.14279Z", :fill => "#252525"}

:javascript
  const drawerBtns = document.querySelectorAll('.js-toggle-drawer');
  const siteDrawers = document.querySelectorAll('.site-drawer');
  const siteOverlay = document.querySelector('.site-overlay');
  let activeDrawer = "";

  drawerBtns.forEach(btn => {
    btn.addEventListener('click', ()=>{
      activeDrawer = document.querySelector(`.site-drawer[data-source="${btn.dataset.target}"]`);
      if (!activeDrawer.hasAttribute("enabled")) {
        closeAllDrawers(activeDrawer)
        openDrawer(activeDrawer);
      } else {
        closeDrawer(activeDrawer, true);
      }
      drawerBtns.forEach(item=>{
        if(btn.dataset.drawertarget != item.dataset.source && item.hasAttribute("enabled")){
          closeDrawer(item, false);
        }
      })
    })
  })

  siteOverlay.addEventListener("click", function(){closeDrawer(activeDrawer,true)});

  function closeAllDrawers(exception) {
    siteDrawers.forEach(drawer => {
      if (drawer != exception){
        closeDrawer(drawer, true);
      }
    })
  }
  function openDrawer(drawer) {
    drawer.setAttribute("enabled", "");
    document.body.classList.add("active-drawer")
    document.body.setAttribute("show-overlay", `${drawer.dataset.overlay}`);
  }

  function closeDrawer(drawer, enableScroll) {
    drawer.removeAttribute("enabled");
    document.body.setAttribute("show-overlay", "false");
    if(enableScroll){
      document.body.classList.remove("active-drawer")
    }

  }

  // STICKY HEADER
  const body = document.body;
  let lastScroll = 0;

  window.addEventListener("scroll", () => {
    const currentScroll = window.pageYOffset;
    if (currentScroll <= 0) {
      body.classList.remove("scroll-up");
      return;
    }

    if (currentScroll > lastScroll && !body.classList.contains("scroll-down")) {
      body.classList.remove("scroll-up");
      body.classList.add("scroll-down");
    } else if (currentScroll < lastScroll && body.classList.contains("scroll-down")) {
      body.classList.remove("scroll-down");
      body.classList.add("scroll-up");
    }
    lastScroll = currentScroll;
  });

:css
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
  /* NEW BASE STYLES FILE */
  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    letter-spacing: -0.015em;
  }

  :root{
  --ff-body: "Poppins", sans-serif;


  --page-width: 152rem;
  --page-width-padding: 5rem;
  --header-padding: 1.7rem 5rem;

  /* ---Durations */
  --dur-very-fast: 0.2s;
  --dur-fast: 0.35s;
  --dur-normal: 0.55s;
  --dur-slow: 0.75s;
   /* ### Colors
    =============================*/
  --clr-primary-1: #252525;
  --clr-primary-2: #fff;
  --clr-secondary: #949494;

  --clr-accent-1:#5707FF;
  --clr-accent-2:#FFC107;

  --border-color-1: #E3E3E3;
   /* ### Typography
    =============================*/
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;


    --fs-100: 1.2rem;
    --fs-200: 1.4rem;
    --fs-300: 1.6rem;
    --fs-400: 1.8rem;
    --fs-500: 2.2rem;
    --fs-600: 2.4rem;
    --fs-700: 3rem;

  }
   /* ### Small pc ###
    =============================*/
  @media screen and (max-width: 1250px){
    :root{
    --page-width: 152rem;
    --page-width-padding: 4rem;
    --header-padding: 1.5rem 4rem;
   /* ### Typography
    =============================*/
      --fs-100: 1.2rem;
      --fs-200: 1.4rem;
      --fs-300: 1.5rem;
      --fs-400: 1.6rem;
      --fs-500: 2.2rem;
      --fs-600: 2.2rem;

      }
  }
   /* ############# Touch Devices ###
    =============================*/
    .desktop-hidden{display: none;}
    .tablet-hidden{display: block;}
  @media screen and (max-width: 850px){
  .desktop-hidden{display: block;}
  .tablet-hidden{display: none;}

    :root{
          --page-width-padding: 1.8rem;
          --header-padding: 1.5rem 1.8rem;
   /* ### Typography
    =============================*/
      --fs-100: 1.2rem;
      --fs-200: 1.4rem;
      --fs-300: 1.5rem;
      --fs-400: 1.6rem;
      --fs-500: 2rem;
      --fs-600: 2.2rem;

      }
  }

  img{
    width: 100%;
    height: auto;
  }
  body{
    font-size: var(--fs-100);
    font-family: var(--ff-body);
    letter-spacing: -0.015em;
  }

  a,a:visited{color:var(--clr-primary-1);text-decoration: none;}

  a,button,.custom-btn{cursor: pointer;}

  .page-width{
    width: 100%;
    max-width: var(--page-width);
    padding-inline: var(--page-width-padding);
    margin-inline: auto;
  }

  .aspect-ratio{
    position: relative;
    height: 0;
    display: block;
  }
  .aspect-ratio img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
  }

  .aspect-ratio--50{padding-top: 50%;}
  .aspect-ratio--80{padding-top: 80%;}
  .aspect-ratio--100{padding-top: 100%;}
  /* main > section:first-child{
      padding-top: 5em;
  } */


  .fw-regular{font-weight: var(--fw-regular);}
  .fw-medium{font-weight: var(--fw-medium);}
  .fw-semibold{font-weight: var(--fw-semibold);}
  .fw-bold{font-weight: var(--fw-bold);}


  .fs-100{font-size: var(--fs-100);}
  .fs-200{font-size: var(--fs-200);}
  .fs-300{font-size: var(--fs-300);}
  .fs-400{font-size: var(--fs-400);}
  .fs-500{font-size: var(--fs-500);}
  .fs-600{font-size: var(--fs-600);}
  .fs-700{font-size: var(--fs-700);}

  .heading{
    font-size: var(--fs-700);
    font-weight: var(--fw-semibold);
    letter-spacing: -0.015em;
    color: var(--clr-primary-1);
    line-height: 120%;
  }

  .section{margin-block: var(--page-width-padding);}

  .product-grid{
    display: flex;
    flex-wrap: wrap;
    margin-inline: -3.5rem;
  }

  .product-grid > * {
    flex: 0 1 calc(100% / 3 - 7rem);
    flex-wrap: wrap;
    margin-inline: 3.5rem;
      margin-bottom: 10rem;
  }

  @media (max-width: 1050px) {
    .product-grid > * {
      flex: 0 1 calc(100% / 2 - 7rem);
    }
  }
  @media (max-width: 650px) {
    .product-grid{margin-inline: 0;}
    .product-grid > * {
      flex: 0 1 calc(100% / 1);
      margin-inline: 0;
    }
  }

  .br-100{border-radius: 1rem;}
  .border-b{border-bottom: 1px solid var(--border-color-1);}

  /* ### Colors ###
  ========================================================== */
  .text-primary{color: var(--clr-primary)}
  .text-primary-2{color: var(--clr-primary-2)}
  .text-secondary{color: var(--text-clr-secondary)}
  .text-accent-1{color: var(--clr-accent-1)}
  .text-accent-2{color: var(--clr-accent-2)}

  .bg-primary-1{background-color: var(--clr-primary-1);}
  .bg-primary-2{background-color: var(--clr-primary-2);}
  .bg-secondary{background-color: var(--clr-secondary);}
  .bg-accent-1{background-color: var(--clr-accent-1);}
  .bg-accent-2{background-color: var(--clr-accent-2);}


   /* ### Additional classes ###
    ====================================*/
    .no-scrollbar{scrollbar-width: none;}

    .oveflow-scroll{overflow: scroll;}
    .overflow-visible{overflow: visible;}
    .overflow-hidden{overflow: hidden;}


  .text-left{text-align: left;}
  .text-center{text-align: center;}
  .text-right{text-align: right;}

  .text-underline{text-decoration: underline}

  .opacity-0{opacity: 0;}
  .opacity-50{opacity: .5;}
  .opacity-100{opacity: 1;}


  .relative{position: relative;}
  .fixed{position: fixed;}
  .absolute{position: absolute;}

  .max-content{width: max-content;}

  .w-100{width: 100%;}
  .h-100{height: 100%;}
  .vw-100{width: 100vw;}
  .vh-100{width: 100vh;}

  .overflow-visible{overflow-y: visible !important;}
  .overflow-hidden{overflow: hidden !important;}


  .scroll-blocked{overflow-y: hidden;}
  .uppercase{ text-transform: uppercase;}
  .capitalize{ text-transform: capitalize;}
  .lowercase{ text-transform: lowercase;}


  .w-100{width: 100%;}


  .custom-btn{
    background: transparent;
    border: 0;
  }

  .custom-list{list-style-type: none;}
  .custom-list--full{padding: unset;margin: unset;}

  .block{display: block;}
    .flex{display: flex;}

    .items-start{align-items: flex-start;}
    .items-center{align-items: center;}
    .items-end{align-items: flex-end;}

    .justify-start{justify-content: flex-start;}
    .justify-center{justify-content: center;}
    .justify-between{justify-content: space-between;}
    .justify-end{justify-content: flex-end;}


    .flex-wrap{flex-wrap: wrap;}



  .gap-100{gap: 1rem;}
  .gap-150{gap: 1.5rem;}
  .gap-200{gap: 2rem;}

  /* ### Padding and margins ###
  ========================================================== */
  .my-0{margin-block: 0;}
  .my-100{margin-block: 1rem;}
  .my-200{margin-block: 2rem;}

  .mr-50{margin-right: .5rem}
  .mr-100{margin-right: 1rem}
  .mr-150{margin-right: 1.5rem}
  .mr-200{margin-right: 2rem}
  .mr-300{margin-right: 3rem}







  .p-0{padding: 0;}

  .pb-100{
    padding-bottom: 1rem;
  }
  .pb-200{
    padding-bottom: 2rem;
  }

  .py-0{padding-block: 0}
  .py-150{padding-block: 1.5rem;}
  .py-100{padding-block: 1rem;}
  .py-200{padding-block: 2rem;}
  .py-300{padding-block: 3rem;}
  .py-400{padding-block: 4rem;}

  .p-100{padding: 1rem;}
  .p-150{padding: 1.5rem;}
  .p-200{padding: 2rem;}
  .p-300{padding: 3rem;}
  .p-400{padding: 4rem;}


  .mb-25{margin-bottom: .25rem;}
  .mb-50{margin-bottom: .5rem;}
  .mb-100{margin-bottom: 1rem;}
  .mb-150{margin-bottom: 1.5rem;}
  .mb-200{margin-bottom: 2rem;}
  .mb-250{margin-bottom: 2.5rem;}
  .mb-300{margin-bottom: 3rem;}
  .mb-400{margin-bottom: 4rem;}
  .mb-500{margin-bottom: 5rem;}
  .mb-1000{margin-bottom: 10rem;}


  .mt-200{margin-top: 2rem}
  .mt-400{margin-top: 4rem}

  .pw-x{padding-inline: var(--page-width-padding);}
   /* ### SECTION: HEADER ###
    ====================================*/
    .site-header{
      border-bottom: 1px solid var(--border-color-1);
    }
    .header-wrapper{
      max-width: var(--page-width);
      padding: var(--header-padding);
      margin-inline: auto;
    }
    .menu a{
      font-weight: var(--fw-medium);
      font-size: var(--fs-300);
      text-decoration: none;
      padding: 0 .95rem;
      text-transform: capitalize;
    }

    .header-wrapper .nav-icon{display: flex;padding: .35rem .6rem;}
    .header-wrapper .nav-icon svg{
      width: 2.6rem;
      height: 2.6rem;
    }





   /* ### STYLES: HOVERS ###
    ====================================*/

    .hover--popUp{
      position: relative;
    }

    .hover--popUp::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0.7) scaleY(0.7) perspective(1px);
    background: var(--border-color-1);
    z-index: -1;
    border-radius: .5rem;
    opacity: 0;
    transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42),opacity 150ms ease-out;
  }
    .hover--popUp:hover::after{
      transform: scaleX(1.015) scaleY(1.035) perspective(1px);
      opacity: .6;
    }




   /* ### STYLES: DRAWERS ###
    ====================================*/
    body.active-drawer{
      overflow-y: hidden;
  }


  body.active-drawer{
    overflow-y: hidden;
  }

  .site-drawer{
    position: fixed;
    transition: all var(--dur-fast) ease;
    visibility: hidden;
    z-index: 99999;
  }

  .site-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    z-index: 9999;
    opacity: 0;
    transition: all var(--dur-normal) linear;
    pointer-events: none;
  }

  body.active-drawer[show-overlay="true"] .site-overlay{
    opacity: .5;
    pointer-events: all;
  }

  .site-drawer--y{
    top: 0;
    transform: translateY(-150%);
  }

  .site-drawer--x{
    top: 0;
    bottom: 0;
    transform: translateX(150%);
  }

  .site-drawer--xleft{transform: translateX(-150%);}

  .site-drawer--x[enabled],
  .site-drawer--y[enabled]{
    visibility: visible;
  }

  .site-drawer--x[enabled]{transform: translateX(0%) !important;}
  .site-drawer--y[enabled]{transform: translateY(0%);}



  /* ### CATEGORY TAGS: STYLE
  ======================================= */
  .tags-wrapper{
    position: relative;
    overflow: visible;
  }

  .category-tag{
    display: flex;
    max-width: 25rem;
    min-width: 25rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all var(--dur-fast) ease;
  }
  .category-tag:hover img{
    scale: 120%;
  }
  .category-tag__media {
    border-radius: 1rem;
    display: flex;
    height: 0;
    padding-top: 50%;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .category-tag__media::after {
    content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(179.58deg, rgba(37, 37, 37, 0) 49.47%, rgba(37, 37, 37, 0.95) 105.43%);
      z-index: 1;
  }
  .category-tag__media img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all var(--dur-fast) ease;
  }
  .category-tag__overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .8rem;
    z-index: 2;
  }
  .category-tag__overlay strong{
    font-size: var(--fs-400);
    font-weight: var(--fw-semibold);
    color: var(--clr-primary-2);

  }

  /* ### SITE SEARCH: STYLE
  ======================================= */
  .site-drawer[data-source="searchDrawer"] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 1.8rem;
    align-items: flex-start;
      pointer-events: none;
  }

  .site-search {
    max-width: 75rem;
    background-color: var(--clr-primary-2);
    border: 1px solid var(--border-color-1);
    width: 100%;
    border-radius: 1.2rem;
      pointer-events: all;
      overflow: hidden;
  }
  .site-search input {
    border: 0;
      padding: 1.25rem 1.5rem;
    width: 100%;
    font-size: var(--fs-500);
    font-weight: var(--fw-medium);
    font-family: inherit;
  }
  .site-search form{position: relative;}

  .site-search__btn {
    opacity: .3;
    position: absolute;
    top: 0;
    right: 1.5rem;
    bottom: 0;
  }
  .site-search__btn input {
    background: transparent;
    position: absolute;
    top: 0;
    right: 1.5rem;
    bottom: 0;
  }

  /* ### MOBILE MENU: STYLE
  ======================================= */
  .mobileNav > ul{
    margin-bottom: auto;
  }

  .mobileNav {
    height: calc(100% - 5.8rem);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }




  /* ### PRODUCT CARD: STYLE
  ======================================= */

  .product-title{
    font-size: var(--fs-600);
    font-weight: var(--fw-semibold);
  }

  .product-duration{
    font-size: var(--fs-200);
    color: var(--clr-secondary);
  }