default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>


development:
  <<: *default
  database: TicketSell_development
    username: postgres
    password: password
    host: db

test:
  <<: *default
  database: TicketSell_test

# production:
#   <<: *default
#   database: TicketSell_production
#   username: TicketSell
#   password: <%= ENV['TICKETSELL_DATABASE_PASSWORD'] %>
