.card.card-10.col-md-10.mt-5.border-dark.shadow
  .card-body.text-center
    %h1
      This is our first project "TicketSell"
      OUR Project
      %br/
      %h3
      TicketSeller is an organization that provides a service to create events and sell tickets.
      %br/
      The main goal of our organization is to create a platform that will give
      %br/
      an opportunity for private companies to place their event and start selling tickets .
